.item {
  border-bottom: 1px solid #272A2F;
}

.item:hover {
  background: #272A2F;
}

.selected {
  background: #272A2F;
  border-left: solid 3px red;
}

.updated {
  border-left: solid 3px #9b59b6;
}
