.button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon svg {
  width: 22px;
  height: 22px;
}

.inactive svg path {
  fill: #555;
}

.selected {
  border-bottom: solid 3px red;
  margin-bottom: -3px;
}
