.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px -1px 0;
  width: 100%;
  flex: 1;
}

.day {
  width: 14.285714%;
  border: solid 1px #272A2F;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-grow: 1;
  min-height: 50px;
}

.inactive {
  background: #272A2F;
}
