@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face{
    font-family: 'Fira Code';
    src: url('./woff2/FiraCode-Regular.woff2');
    /*src: url('eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('woff2/FiraCode-Regular.woff2') format('woff2'),
         url('woff/FiraCode-Regular.woff') format('woff'),
         url('ttf/FiraCode-Regular.ttf') format('truetype');*/
    font-weight: 400;
    font-style: normal;
}


body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: #2C2F34;
  color: #ecf0f1;
}

* {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
}

input {
  background: none;
  outline: none;
  border: none;
}

h1 {
  font-size: 2rem;
}

path {
  fill: inherit;
}

pre, code {
  font-family: 'Fira Code';
}
